{% extends 'layout/base_auth.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="flex justify-center items-center h-full">
        <div class="background">
            <div class="blob"></div>
            <div class="blob"></div>
        </div>
        <div class="border border-secondary px-14 py-10 lg:w-3/5 xl:w-1/3 z-10 bg-white">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <h1 class="form-header">Reset Your Password</h1>
                <div class="forms-holder">
                    <div class="flex flex-col w-full gap-2">
                        {{ form.password.label(class="text-sm") }}
                        {{ form.password(class="p-4 border border-secondary rounded-lg focus:outline-none") }}
                        {% for error in form.password.errors %}
                            <span class="text-red-300 italic text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="flex flex-col w-full gap-2">
                        {{ form.password.label(class="text-sm") }}
                        {{ form.password(class="p-4 border border-secondary rounded-lg focus:outline-none") }}
                        {% for error in form.password.errors %}
                            <span class="text-red-300 italic text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="w-full">
                        {{ form.submit(class="comic-button") }}
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}