<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='authBg.css') }}">
    {#  TailWind CDN  #}
    <link rel="stylesheet" href="{{ url_for('static', filename='output/main.css') }}">
</head>
<body class="h-screen">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=" p-2 relative z-10 flex justify-center items-center ">
            <div class="flex py-4 px-8 {{ color }}-bg z-[1] border border-dark rounded-xl w-3/4">

                <ul class="list-disc">
                    {% for message in messages %}
                        <li class="{{ color }}-text">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endwith %}


{% block content %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>